@import '../pages-components/Styles/reset-default.css';
@import '../pages-components/Styles/Variables.Css';
body{
  background-color:var(--background-color);
}
section{

box-sizing: border-box;
border-radius: 10px;
margin-top: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}
#textpost{
  width: 50%;
  height: 20%;
  color:#000000;
  font-size: 1rem;
  padding:13px;
  background-color: #10141a;
  border-radius: 10px;
  border: solid 10px #2F3A4B;
}
textarea{
  width: 23rem;
  height: 10rem;
  color:#000000;
  font-size: 1rem;
  padding:13px;
  background-color: #53AC59;
  resize: none;
  
}
#btn-post{
  position: relative;
  margin-top: -20px;
  width: 53%;
  height: 2rem;
  border-radius: 10px;
  font-size: 1.5rem;
}
#all-posts, #new-post{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
  
}
#all-posts div, #new-post div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2F3A4B;
  border-radius: 10px;
}
.posts{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}