@import '../pages-components/Styles/reset-default.css';
@import '../pages-components/Styles/Variables.Css';

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-style: var(--font-style);
}

#root {
  width: 100vw;
  height: 100vh;
}
.home-main {
  width: 90%;
  height: 89%;
  margin: auto;
  margin-top: 1.5rem;
  background: #2F3A4B;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-pages {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 2.5rem;
  border-radius: 0.6rem;
  background-color: #3C4A5F;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
  width: 75%;

}

.home-title {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  color: #ffffff;
}


video {
  width: 20%;
  margin: 1rem;

}
@media (min-width:601px) and (max-width:768px) {
  .home-title {
    font-size: 1.7rem;
  }
}

@media (min-width:769px) and (max-width:1000px) {
  video {
    width: 75%;
    margin: 8rem;
  }

  .home-title {
    line-height: 5rem;
  }
}

@media (min-width:1024px) and (max-width:1920px) {
  .home-main {
    width: 68%;
    height: 165rem;
  }

  #root {
    height: 70rem;

  }

  video {
    margin: 10% 0% 38% 0%;
    height: 44rem;

  }

  /* top left bottom right*/

.link-pages {
  font-size: 2rem;
  padding: 2.5rem;
  margin: 0% 0% 5% 0%;
  width: 70%;

}.home-title {
  font-size: 3rem;
  margin-bottom: 4rem;
}
}