
@import '../pages-components/Styles/Variables.Css';


a {
  text-decoration: none;
  color: var(--letter)
}

body {
  background-color: var(--shadow);
  color: var(--letter);
}

.text-about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
 
}


div .text-about{
  width: 30rem;
  height: 45rem;
  border-width: medium;
  border-color: transparent;
  background-color: var(--menu);
  margin: 25px;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  gap: 12px;
}


.developers-img {
  width: 100px;
  border-radius: 50px 50px 50px 50px;
  flex-wrap: wrap;
  display: inline-block;
  vertical-align: top;
  /* colocar hr entre os textos */
}

.name {
  vertical-align: top;
  display: flex;
}


@media only screen and (max-width: 589px){
  div .text-about{
    width: 20rem;
    height: 55rem;}
    header{
      margin-top: 15rem;
    }
}
@media only screen and (max-width: 400px){
  div .text-about{
    width: 16rem;
    height: 55rem;} 
}