@import '../pages-components/Styles/reset-default.css';
@import '../pages-components/Styles/Variables.Css';

body{
    background-color: var( --background-color) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#root{
  margin-top: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  padding-bottom: 20px;
}
#content-register {
  display: flex;
  gap: 66px;
  justify-content: center;
  align-items: center;
}
#content-register picture{
  width: 30rem;
}

#registro{
  background-color:var(--shadow) ;
  border-radius: 10px;
  width: 20rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0%;
}
#registro form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}
#registro .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }
a{
  text-decoration: none;
  color:var(--font-color);
}

form .email , .password{
  background: rgba(74, 90, 116, 0.5);
  color: var(--font-color);
  border-color:var(--background-color) ;
  width: 15rem;
  height: 4vh;
  border-radius: 5px;
  padding-left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
form button{
  background: var(--menu);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 10rem;
  height: 5vh;
  color: white;
}
#termsUse {
  background: var(--menu);
  width: 15rem;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  border-radius: 5px;
}
#termsUse #paragraph{
  background: #535f71;
  width: 10rem;
  height: 24vh;
  font-size: 0.9rem;
  overflow-y: scroll; 
  color: white;  
}
#termsUse h1{
 font-size: 1.4rem;
}

#termsUse label{
  font-size: 1rem;
  color: white;
}
#erro{
  width: 40vw;
  height: 3vh;
  text-align: center;
  color: var(--font-color-error);
}
@media only screen and (max-width: 812px){
  #content-register{
    flex-direction: column;
  }
  #content-register picture{
    width: 20rem;
  }
}
@media only screen and (max-width: 406px){
  #content-register picture{
    width: 10rem;
  }
  #registro{
    width: 17rem;
    height: 38rem;
  }
  form .email , .password{
    width: 10rem;
    height: 4vh;
   ;
  }
  #termsUse {
    width: 12rem;
    height: 17rem;
  }
}
